.tab-content{
    background-color: var(--color-navbar);
    width: 40%;
    height: 90%;
    color: var(--color-menus);
    margin: auto;
    border-radius: 30px;
}


.tab-pane{
    width: 500px;
    height: 700px;
    margin: auto;
}

.form-select{
    border-radius: 30px;
    margin-bottom: 2%;
}

.ahorroTitle{
   padding-top: 20px;
}

.titulo-seccion{
    text-align: center;
}

.ahorroForm>.btn{
    background-color: var(--color-titulo);
}


.footer{
    margin-top: 250px;
    
}




@media only screen and (max-width: 924px) {
    .tab-content{
        width: 65%;
    }
    .tab-pane{
        width: 85%;
    }
}

@media only screen and (min-width: 925px) and (max-width: 1074px) {
    .tab-pane{
        width: 85%;
    }
    
}

@media only screen and (min-width: 1073px) and (max-width: 1217px) {
    .tab-pane{
        width: 85%;
    }
    
}

@media only screen and (min-width: 1218px) and (max-width: 1358px) {
    .tab-pane{
        padding-left: 35px;
        padding-right: 35px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1359px) and (max-width: 1618px) {
    .footer{
        margin-top: 250px;
    
    }
    .tab-pane{
        padding: 0% 3% ;
    }

}

