/***************PAGINA DE PERSONALIZACION*******************/


.personalizacion-home{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; /* Espacio entre las celdas */
    justify-items: center; /* Centra horizontalmente */
    align-items: center;
   

}




/***************TABLA DE COLORES *******************/
.tabla-colores{
    display: grid;
    width: 50%;
    grid-template-columns: repeat(7, 1fr); /* Cambia el número de columnas según tus necesidades */
    margin-top: 2rem;
    
    /* margin-bottom: 5rem;
    margin-top: 5rem; */
}

.color-button{
    width: 50px;
    height: 50px;
    border: none;
    margin: 1rem;
}

.color-button:hover{
    transform: scale(1.2);
}








/* Estilos para pantallas de menos de 480 píxeles- anchura maxima de 480px */
@media (max-width: 480px) {
    /* .titulo-seccion>h2{
        background-color: aquamarine;
        margin-left: 1%;
    } */
    .titulo-seccion{
        margin-right: 180px;
    }

    .parrafo>h3{
        width: 70%;
        text-align: center;
        margin-right: 9%;
        margin-left: 5%;
    }

    .tabla-colores {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .coloresElegir{
        width: 100%;
    }

    #root > nav > div > div.navbar-brand > div > h1{
        font-size: 1.3rem;
        margin-right: 5rem;
        margin-bottom: 2rem;
    }
} 


/* Estilos para pantallas pequeñas (teléfonos) hasta 600px */
@media only screen and (min-width: 601px) and (max-width: 924px) {
    #root > div.personalizacion-home > div.parrafo > h3{
        padding: 2rem;
    }

    #root > div.personalizacion-home > div.parrafo{
        width: 30rem;
    }
}

/* Estilos para pantallas medianas (tabletas) entre 601 a 1024px*/
@media only screen and (min-width: 601px) and (max-width: 924px) {
    

}

/* Estilos para pantallas grandes (escritorio) mayores a 1025 */
@media only screen and (min-width: 925px) {
    
    
}