
/* Estilos para la tabla */

  
  .modern-table {
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }
  
  .modern-table th,
  .modern-table td {
     padding: 12px 15px;
     text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .progress{
    height: 100px;
    line-height: 350px;
    font-size: 60px;
  }
  
  .progress-bar>p{
    color:#13b955;
  }